In [17]:
import numpy as np
import pandas as pd

In [18]:
t1 = pd.read_csv('train1_column.csv')
t2 = pd.read_csv('train2_column.csv')
t3 = pd.read_csv('train3_column.csv')
t4 = pd.read_csv('train4_column.csv')
t5 = pd.read_csv('train5_column.csv')

In [19]:
print(t1.shape)
print(t2.shape)
print(t3.shape)
print(t4.shape)
print(t5.shape)

(265, 1)
(273, 1)
(272, 1)
(268, 1)
(265, 1)

In [33]:
#t1.head(20)

In [21]:
columns1 = t1['Column_Names_1'].dropna().tolist()
columns2 = t2['Column_Names_2'].dropna().tolist()
columns3 = t3['Column_Names_3'].dropna().tolist()
columns4 = t4['Column_Names_4'].dropna().tolist()
columns5 = t5['Column_Names_5'].dropna().tolist()

In [22]:
common_columns = set(columns1) & set(columns2) & set(columns3) & set(columns4) & set(columns5)
unique_columns1 = set(columns1) - common_columns
unique_columns2 = set(columns2) - common_columns
unique_columns3 = set(columns3) - common_columns
unique_columns4 = set(columns4) - common_columns
unique_columns5 = set(columns5) - common_columns

In [23]:
all_unique_columns = unique_columns1 | unique_columns2 | unique_columns3 | unique_columns4 | unique_columns5

In [24]:
# Convert sets to lists for saving
unique_columns1 = list(unique_columns1)
unique_columns2 = list(unique_columns2)
unique_columns3 = list(unique_columns3)
unique_columns4 = list(unique_columns4)
unique_columns5 = list(unique_columns5)

In [25]:
common_columns = list(common_columns)
all_unique_columns = list(all_unique_columns)

In [26]:
print(len(common_columns))

262

In [27]:
print(len(unique_columns1))
print(len(unique_columns2))
print(len(unique_columns3))
print(len(unique_columns4))
print(len(unique_columns5))

3
11
10
6
3

In [34]:
#print(unique_columns1)
#print(unique_columns2)
#print(unique_columns3)
#print(unique_columns4)
#print(unique_columns5)

In [35]:
#print(all_unique_columns)

In [36]:
#print(common_columns)